
<link href="style/style.css" rel="stylesheet" type="text/css">
  


<div class="ui top fixed header-bar large" >

    <div class="ui secondary  menu  " style="height:10vh">
      
      <div class="left menu">
       {{#unless isLoggedIn}} 
        <a class="set-center heading-text" href="/">
          Workype
        </a>
        {{else}}
        <a class="set-center heading-text" href="/home">
          Workype
        </a>
      {{/unless}} 

   
     {{#if isSearch}}   
      <div class="item full-width" style="margin-left:50px;">
      <div class="ui action input header-search">
        <input type="text" placeholder="Search..." class="border-none">
        <button class=" ui button button-primary ">
         Go! 
        </button>
      </div>
      

      </div>
    {{/if}}



    

      </div>
    
       <div class="right menu">
          <a class="ui set-center">
           {{#unless isLoggedIn}} 

               <form class="ui form login full-width" method="GET" action="http://localhost:4200/home">
 
                  <div class=" three  fields">

                    <div class="field">
                      <label>&nbsp;</label>
                      <input value={{userEmail}} type="text" name="email" placeholder="Username or Email" >
                    </div>
                    <div class="field">
                       <label>&nbsp;</label>
                      <input type="password" name="password" placeholder="Password" >
                    </div>
                    <div class="field">
                      <label>&nbsp;</label>
                      <button class="button ui button-primary"  type="submit" >Login</button>
                    </div>

                  </div>
                  <div class="ui  error message" style="position: absolute; margin-top:-5px;"></div>
                  </form>

              
            {{else}}




                 <div class="ui inline dropdown" >
             
                  <div class="text base-icon-size base-color"  {{action "dropDown"}}>
                     <img class="ui avatar image" src="images/j.jpg">
                    Jenny Hess
                  </div>
                  <i class="dropdown icon base-icon-size base-color"></i>
              
                  <div class="menu">
                    <div class="item base-icon-size" {{action "getEditProfile"}}>
                      <img class="ui avatar image" src="images/j.jpg">
                       Edit Profile &nbsp;&nbsp;
                    </div>
                 
                    <div class="item base-icon-size" {{action "getLogout"}}>
                        <img class="ui avatar image" src="images/logout.png">
                          Logout
                    </div>
                  </div>
                  </div>

            
              
                  
              

              

            {{/unless}}



          </a>









        </div>
   	
  
 </div>




</div>



 



{{outlet}}



<div class="ui grid top-divide footer">
  <div class="fourteen wide column"> <p  class="base-color cpyrt">Copyright@yourcompanyname</p></div>
  <div class="ui grid" style="padding:10px;">
  <div class="eight wide column" > <a href="about" class="base-color">About</a></div>
  <div class="eight wide column" > <a href="contact" class="base-color">Contact</a></div>
 </div>
  
</div>







